<%= form_for([@ticket, @comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div class="alert alert-error">
      <div id="error_explanation">
        <h5><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h5>

        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :content, :rows => 2, :cols => 20 %>
  </div>
  <div class="field">
    <% for attachments in @comment.attachments %>
      <%= fields_for "comment[attachments_attributes][]", attachments do |builder| %>
        <p>
          Attachment: <%= builder.file_field :file %>
        </p>
      <% end %>
    <% end %>
  </div>
  <div class="field">
    <%= f.hidden_field :commentor, :value => current_user.name %>
  </div>
  <div class="actions">
    <%= f.submit "Comment", :class => "btn btn-info" %>
  </div>
<% end %>
