<div class="page-header">
  <% if @user.username? %>
      <h1><%= @user.username %></h1>
    <% else %>
      <h1><%= @user.email %></h1>
    <% end %>
</div>

<dl class="dl-horizontal">
<% if !(@user_invitation_accepted.nil?) %>
	<h4>Users who accepted your invitation:</h4><br />
	<ul>
	<% @user_invitation_accepted.each do |user| %>
		<li><%= user.username %></l1>
	<% end %>
	</ul>
<% end %>
<% if !(@user_invitation_not_accepted.nil?) %>
	<br />
	<h4>Users who haven't accepted your invitation till now:</h4><br />
	
	<ul>
	<% @user_invitation_not_accepted.each do |user| %>
		<li><%= user.email %><br /></li>
	<% end %>
	</ul>
<% end %>
</dl>

<div class="form-actions">
  <%= link_to 'Edit Profile', edit_user_path(@user), :class => 'btn' %>
<%= link_to 'Create a New Project', new_user_project_path(@user), :class => 'btn'  %>
<%= link_to 'View Projects', user_projects_path(@user), :class => 'btn'  %>
<%= link_to 'Invite Member', new_user_invitation_path, :class => 'btn'  %>
<%= link_to 'View Invited Member', list_of_invited_members_user_path(current_user), :class => 'btn'  %>
</div>