<p id="notice"><%= notice %></p>

<p>
	<%= image_tag @user.photo.url(:thumb) %>
	<b>User:</b>
  	<% if @user.username.nil? %>
  		<%= @user.email %>
  	<% else %>
	  	<%= @user.username %>
  	<% end %>
</p>

<br />

<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'Create a New Project', new_user_project_path(@user) %>
<%= link_to 'View Projects', user_projects_path(@user) %>
<%= link_to 'Invite Member', new_user_invitation_path %>
<%= link_to 'View Invited Member', list_of_invited_members_user_path(current_user) %>