
<% if @user_ticket.blank? %>
  <table class="table table-striped">
    <h5> All Assigned Tickets:</h5>
    <thead>
      <%= render 'tickets/thead_for_tickets' %>
    </thead>
    <tbody>
      <% @user_tickets.each do |ticket| %>
        <%= render 'tickets/tickets', :ticket => ticket %>
      <% end %>
    </tbody>
  </table>
  <div class="pagination pagination-centered pagination-small">
    <%= will_paginate @user_tickets %>
  </div>
<% else %>
  <h5>No tickets has been assigned to you.</h5><br />
  <h2>Start creating, Projects and tickets. Have Fun Ticketting.</h2>
  <br />
<% end %>

<br />

<div class="form-actions">
  <%= link_to 'New Project', new_project_path, :class => 'btn btn-primary pull-right' %>
  <%= link_to 'Invite Member', new_user_invitation_path, :class => 'btn btn-primary pull-right' %> 
</div>
