<p id="notice"><%= notice %></p>

<p>
	<b>User:</b>
  	<% if @user.username.nil? %>
  		<%= @user.email %>
  	<% else %>
	  	<%= @user.username %>
  	<% end %>
</p>

<br />

<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'Create a New Project', new_user_project_path(@user) %>
<%= link_to 'View Projects', user_projects_path(@user) %>