<% if @user == current_user %>
    <% content_for :sidebar do %>
        <%= link_to 'New Project',  new_user_project_path(current_user), :class => 'btn btn-primary btn-block' %><br />
    <% end %>

    <h4>this is user's show page and also user dasboard where users stats will be displayed.</h4>
    <%= image_tag "coming_soon.jpg" %>
    
<% else %>
    <% if @user_ticket.blank? %>
        <table class="table table-striped">
            <h5> All Assigned Tickets:</h5>
            <thead>
                <%= render 'tickets/thead_for_tickets' %>
            </thead>
            <tbody>
                <% @user_tickets.each do |ticket| %>
                    <%= render 'tickets/tickets', :ticket => ticket %>
                <% end %>
            </tbody>
        </table>
        <div class="pagination pagination-centered pagination-small">
            <%= will_paginate @user_tickets %>
        </div>
    <% else %>
        <h5>No tickets has been assigned to you.</h5>
        <br />
    <% end %>
<% end %>
<br />

