<%= form_for [@project, @ticket], :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <% if @ticket.errors.any? %>
    <div class="alert alert-error">
      <div id="error_explanation">
        <h5><%= pluralize(@ticket.errors.count, "error") %> prohibited this comment from being saved:</h5>
        <ul>
        <% @ticket.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :status, Ticket.ticket_status_array, :first, :last, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <% for attachments in @ticket.attachments %>
        <%= fields_for "ticket[attachments_attributes][]", attachments do |builder| %>
          <p>
            Attachment: <%= builder.file_field :file %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :assigned_to, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :assigned_to, @project.members, :id, :name, 
    :include_blank => true, :class => 'number_field' %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-info' %>
    <%= link_to "Cancel", project_tickets_path(@project), :class => 'btn' %>
  </div>
<% end %>
