<div class="btn-group">
  <button class="btn">Show Me</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to "Assigned tickets", user_tickets_path(current_user) %></li>
	<li><%= link_to "All Tickets (#{@all_tickets_count})", view_all_tickets_tickets_path %></li>
	<li><%= link_to "New Tickets (#{@new_tickets_count})", view_new_tickets_tickets_path %></li>
	<li><%= link_to "Open Tickets (#{@open_tickets_count})", view_open_tickets_tickets_path %></li>
	<li><%= link_to "Hold Tickets  (#{@hold_tickets_count})", view_hold_tickets_tickets_path %></li>
	<li><%= link_to "Resolved Tickets  (#{@resolved_tickets_count})", view_resolved_tickets_tickets_path %></li>
	<li><%= link_to "Closed Tickets  (#{@closed_tickets_count})", view_closed_tickets_tickets_path %></li>
  </ul>
</div>