<tr>
    <td>
        <strong>
          <%= link_to ticket.title, project_ticket_path(ticket.project_id, ticket) %>
        </strong>
    </td>
    <td><%= ticket.description %></td>
    <td><%= ticket.ticket_status %></td>
    <td><%= project_title(ticket.project_id) %></td>
    <% if !(user_name(ticket.assigned_to).nil?) %>
      <td><%= user_name(ticket.assigned_to) %></td>
    <% else %>
      <td><%= "No one" %></td>
    <% end %>
    <td><%= event_time_format(ticket.created_at) %></td>    
</tr>