<tr>
    <td>
        <strong>
          <%= link_to ticket.title, user_project_ticket_path(@user, @project, ticket) %>
        </strong>
    </td>
    <td><%= ticket.description %></td>
    <td><%= ticket.ticket_status %></td>
    <% if !(User.find_by_id(ticket.assigned_to).nil?) %>
      <td><%= User.find_by_id(ticket.assigned_to).username %></td>
    <% else %>
      <td><%= "No one" %></td>
    <% end %>
    <% if ticket.document.blank? %>
      <td>No Attachments</td>
    <% else %>
      <td><%= link_to 'Download', ticket.document.url(:original, false),
      :target => "_blank" %></td>
    <% end %>
    
    <td><%= event_time_format(ticket.created_at) %></td>    
</tr>