<tr>
    <td>
        <strong>
          <%= link_to ticket.title, project_ticket_path(ticket.project_id, ticket) %>
        </strong>
    </td>
    <td><%= ticket.description %></td>
    <td><%= ticket.ticket_status %></td>
    <% if !(User.find_by_id(ticket.assigned_to).nil?) %>
      <td><%= User.find_by_id(ticket.assigned_to).name %></td>
    <% else %>
      <td><%= "No one" %></td>
    <% end %>

    <% if ticket.attachments.blank? %>
      <td>No Attachments</td>
    <% else %>
      <% ticket.attachments.all.each do |attachment| %>
        <td><%= attachment.file_file_name %><%= link_to 'Download', attachment.file.url(:original, false), :target => "_blank" %></td>
      <% end %>  
    <% end %>
   
    <td><%= event_time_format(ticket.created_at) %></td>    
</tr>