<h1>Listing tickets</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th>Who's Responsible</th>
    <th>Document</th>
    <th>Download</th>
    <th>Age</th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.title %></td>
    <td><%= ticket.description %></td>
    <td><%= ticket.ticket_status %></td>
    <% if !(User.find_by_id(ticket.assigned_to).nil?) %>
      <td><%= User.find_by_id(ticket.assigned_to).email %></td>
    <% else %>
      <td><%= "No one" %></td>
    <% end %>
    <% if ticket.document.blank? %>
      <td> No Attachment </td>
      <td></td>
    <% else %>
      <td>Attached</td>
      <td><%= link_to 'Download', ticket.document.url(:original, false) %></td>
    <% end %>
    
    <td><%= event_time_format(ticket.created_at) %></td>
    <td><%= link_to 'Show', user_project_ticket_path(@user, @project, ticket) %></td>
    <td><%= link_to 'Edit', edit_user_project_ticket_path(@user, @project, ticket) %></td>
    <td><%= link_to 'Destroy', user_project_ticket_path(@user, @project, ticket), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_user_project_ticket_path(@user, @project) %>
