<%- model_class = Ticket -%>

<h4>Search Tickets:</h4>

<%= render 'search_form' %>
<%= render 'links_status_tickets' %>

<% if @ticket.blank? %>

  <div class="page-header">
    <h4>Tickets under <%= @project.title %></h4>
  </div>
  <table class="table table-striped">
    <h5>All Tickets</h5>
    <thead>
      <%= render 'thead_for_tickets' %>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
        <%= render 'tickets', :ticket => ticket %>
      <% end %>
    </tbody>
  </table>
  <div class="pagination pagination-centered pagination-small">
    <%= will_paginate @tickets %>
  </div>
  <% if @project.user_id == current_user.id %>
      <%= link_to "New Ticket", new_user_project_ticket_path(@user, @project), :class => "btn btn-info"%>
  <% end %>

<% else %>
  <h5>No tickets has been created yet.</h5>
  <br />
  <% if @project.user_id == current_user.id %>
      <%= link_to "Make a new Ticket", new_user_project_ticket_path(@user, @project), :class => "btn btn-info"%>
  <% end %>
<% end %>

<br />

<%= render 'user_assigned_tickets' %>
   
<%= link_to 'Back to project', user_project_path(@user, @project), :class => "btn" %>