<h3>Listing tickets under Project <%= @project.name %></h3>
<h4>Search:</h4>
<%= render 'search_form' %>
<br />
<%= render 'links_status_tickets' %>
<br />
<h4>All tickets</h4>
<% if @ticket.blank? %>
  <table border = 1>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Who's Responsible</th>
        <th>Download Attached Document</th>
        <th>Age</th>
      </tr>
      <% @tickets.each do |ticket| %>
        <%= render 'tickets', :ticket => ticket %>
      <% end %>
    </table>
    <br />
    <% if @project.user_id == current_user.id %>
      <%= link_to "New Ticket", new_user_project_ticket_path(@user, @project)%>
    <% end %>
  <% else %>
  No tickets has been created yet.
  <br />
  <% if @project.user_id == current_user.id %>
      <%= link_to "Make a new Ticket", new_user_project_ticket_path(@user, @project)%>
    <% end %>
<% end %>

<% if @user_assigned_tickets.blank? %>
      <table border = 1>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th>Download Attached Document</th>
          <th>Age</th>
        </tr>
        <% @user_assigned_tickets.each do |ticket| %>
          <%= render 'tickets', :ticket => ticket %>
        <% end %>
      </table>
      <br />
<% else %>
  No tickets has been assigned to you.
<% end %>
<br /><br />
<%= link_to 'Back to project', user_project_path(@user, @project) %>