<h4>Search Tickets:</h4>

<%= render 'search_form' %>

<h4>Search Result</h4>

<% if @tickets_count > 0 %>
  <table class="table table-striped">
    <h5>
    	<%= link_to "Total Tickets found (#{@tickets_count})", search_tickets_path(:search => params[:search]) %>
    </h5>
    <thead>
      <%= render 'thead_for_tickets' %>
    </thead>
    <tbody>
      <% @tickets_searched.each do |ticket| %>
        <%= render 'tickets', :ticket => ticket %>
      <% end %>
    </tbody>
  </table>
  <div class="pagination pagination-centered pagination-small">
    <%= will_paginate @tickets_searched %>
  </div>
  <br />
<% else %>
  <h5>Tickets (0)</h5>
  <br />
<% end %>

<br /><br />
