<%- model_class = Ticket -%>
<div class="page-header">
  <h1><%= @ticket.title %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @ticket.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:document) %>:</strong></dt>
  <dd>
      <% if @ticket.document.blank? %>
        No Attachment<br />
      <% else %>
        Document Attached
        <strong><%= link_to 'Download', @ticket.document.url(:original, false),
        :target => "_blank" %></strong><br />
        <% if Ticket.validate_document_image(@ticket.document) %>
          <dd><strong>Preview:</strong></dd>
          <dd><%= image_tag @ticket.document.url(:thumb) %></dd>
        <% end %>
      <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @ticket.ticket_status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:assigned_to) %>:</strong></dt>
  <dd>
      <% if !(User.find_by_id(@ticket.assigned_to).nil?) %>
        <%= User.find_by_id(@ticket.assigned_to).email %>
      <% else %>
        No one.
      <% end %>
  </dd>
</dl>

<div class="page-header">
  <h4>Comments:</h4>
</div>

<% if !@comments.blank? %>
  <% @comments.each do |comment| %>
      <%= comment.content %> <b>by:</b>
      <%= comment.commentor %><br />
  <% end %>
<% else %>
  <h5>No comments</h5>
<% end %>
<br />
<h6>New Comment </h6>
<%= render 'comments/form', :@comment => Comment.new %>
<br />
<div class="form-actions">
  <% if @project.user_id == current_user.id %>
    <%= link_to 'Edit Ticket', edit_user_project_ticket_path(@user, @project, @ticket), :class => "btn" %>
    <%= link_to 'Destroy', user_project_ticket_path(@user, @project, @ticket), :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <%= link_to 'Back To Tickets', user_project_tickets_path(@user, @project), :class => "btn" %>
</div>




