<%- model_class = Ticket -%>
<% content_for :sidebar do %>
     
<% end %>

<div class="page-header">
    <h3><%= @ticket.title %> under <%= project(@ticket.project_id).title %></h3>
    <%= @ticket.description %>
</div>

<%= render 'ticket_options_links', :ticket => @ticket %>

<dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
    <dd><%= @ticket.ticket_status %></dd>
    <dt><strong><%= model_class.human_attribute_name(:assigned_to) %>:</strong></dt>
    <dd>
        <% if !(user(@ticket.assigned_to).nil?) %>
            <%= user(@ticket.assigned_to).name %>
        <% else %>
            No one.
        <% end %>
    </dd>
    <dt><strong>Attachement:</strong></dt>
    <dd>
        <% if @ticket.attachments.blank? %>
            No Attachment<br />
        <% else %>
            <strong>Document Attached</strong><br />
            <% @ticket.attachments.each do |attachment| %>
                <div class="row-fluid">
                    <strong>
                        <div class="span4">
                            <%= attachment.file_file_name %>
                        </div>
                        <% if Attachment.validate_document_image(attachment) %>
                            <%= image_tag attachment.file.url(:thumb) %>
                        <% end %>                        
                        <div class="span4">
                            <%= link_to 'Preview', attachment.file.url(:original, false),:target => "_blank" %>
                        </div>

                    </strong>
                    <br />
                </div>
            <% end %>
        <% end %>
    </dd>
</dl>

<div class="page-header">
  <h4>Comments:</h4>
</div>

<% if !@comments.blank? %>
    <% @comments.each do |comment| %>
        <div class ="well">
            <%= comment.content %> <br />
            <small><b>by:</b> <%= comment.commentor %></small><br />
            <% unless comment.attachments.blank? %>
                <strong>Document Attached</strong><br />
                <% comment.attachments.each do |attachment| %>
                    <div class="row-fluid">
                        <div class="span4">
                            <%= attachment.file_file_name %>
                        </div>
                        <% if Attachment.validate_document_image(attachment) %>
                            <%= image_tag attachment.file.url(:thumb) %>
                        <% end %>
                        <div class="span4">
                            <%= link_to 'Preview', attachment.file.url(:original, false),:target => "_blank" %>
                        </div>
                        <br />
                    </div>
                <% end %>
            <% end %>
        </div>
    <% end %>
<% else %>
    <h5>No comments</h5>
<% end %>

<br />

<dl class="dl-horizontal">
    <dt><strong>New Comment:</strong></dt>
    <dd><%= render 'comments/form', :@comment => Comment.new %></dd>
</dl>
    
<br />

<%= render 'form_update' %>




