<%- model_class = Ticket -%>
<% content_for :sidebar do %>
    <%= link_to 'New Project', new_project_path, :class => 'btn btn-primary btn-block' %><br />
    <%= link_to 'Invite Member', new_user_invitation_path, :class => 'btn btn-primary btn-block' %> 
    <% if @project.user_id == current_user.id %>
        <%= link_to 'Edit Ticket', edit_project_ticket_path(@ticket.project_id, @ticket), :class => "btn btn-block" %>
        <%= link_to 'Destroy', project_ticket_path(@ticket.project_id, @ticket), :class => "btn btn-danger btn-block", method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
<% end %>

<div class="page-header">
    <h3><%= @ticket.title %> under <%= project_title(@ticket.project_id) %></h3>
    <%= @ticket.description %>
</div>

<dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
    <dd><%= @ticket.ticket_status %></dd>
    <dt><strong><%= model_class.human_attribute_name(:assigned_to) %>:</strong></dt>
    <dd>
        <% if !(user_name(@ticket.assigned_to).nil?) %>
            <%= user_name(@ticket.assigned_to) %>
        <% else %>
            No one.
        <% end %>
    </dd>
    <dt><strong>Attachement:</strong></dt>
    <dd>
        <% if @ticket.attachments.blank? %>
            No Attachment<br />
        <% else %>
            <strong>Document Attached</strong><br />
            <% @ticket.attachments.each do |attachment| %>
                <div class="row-fluid">
                    <strong>
                        <div class="span4">
                            <%= attachment.file_file_name %>
                        </div>
                        <div class="span4">
                            <%= link_to 'Preview', attachment.file.url(:original, false),:target => "_blank" %>
                        </div>
                    </strong>
                    <br />
                </div>
            <% end %>
        <% end %>
    </dd>
</dl>

<div class="page-header">
  <h4>Comments:</h4>
</div>

<% if !@comments.blank? %>
    <% @comments.each do |comment| %>
        <div class ="well">
        <%= comment.content %> <br /><small><b>by:</b> <%= comment.commentor %></small><br />
        <% unless comment.attachments.blank? %>
            <strong>Document Attached</strong><br />
            <% comment.attachments.each do |attachment| %>
                <div class="row-fluid">
                    <div class="span4">
                        <%= attachment.file_file_name %>
                    </div>
                    <div class="span4">
                        <%= link_to 'Preview', attachment.file.url(:original, false),:target => "_blank" %>
                    </div>
                    <br />
                </div>
            <% end %>
        <% end %>
        </div>
    <% end %>
<% else %>
    <h5>No comments</h5>
<% end %>

<br />

<dl class="dl-horizontal">
    <dt><strong>New Comment:</strong></dt>
    <dd><%= render 'comments/form', :@comment => Comment.new %></dd>
</dl>
    
<br />

<%= render 'form_update' %>



