<%- model_class = Ticket -%>
<div class="row-fluid">
    <div class="span4">
      <%= render 'links_status_tickets' %>
    </div>
    <div class="span4 pull-right">
      <%= render 'search_form' %>
    </div>
</div>
<% if @open_ticket.blank? %>

  <table class="table table-striped">
    <h5>Open Tickets</h5>
    <thead>
      <%= render 'thead_for_tickets' %>
    </thead>
    <tbody>
      <% @open_tickets.each do |ticket| %>
        <%= render 'tickets', :ticket => ticket %>
      <% end %>
    </tbody>
  </table>
  <div class="pagination pagination-centered pagination-small">
    <%= will_paginate @open_tickets %>
  </div>
  <br />
<% else %>
  <h5>No tickets has been created yet.</h5>
  <br />
<% end %>

<br /><br />
<div class="form-actions">
 
</div>