<%- model_class = Ticket -%>

<h4>Search Tickets:</h4>

<%= render 'search_form' %>
<%= render 'links_status_tickets', :project => @project %>

<% if @open_ticket.blank? %>

  <div class="page-header">
    <h4>Tickets under <%= @project.title %></h4>
  </div>
  <table class="table table-striped">
    <h5>Open Tickets</h5>
    <thead>
      <%= render 'thead_for_tickets' %>
    </thead>
    <tbody>
      <% @open_tickets.each do |ticket| %>
        <%= render 'tickets', :ticket => ticket, :project => @project %>
      <% end %>
    </tbody>
  </table>
  <div class="pagination pagination-centered pagination-small">
    <%= will_paginate @open_tickets %>
  </div>
  <br />
  <% if @project.user_id == current_user.id %>
      <%= link_to "New Ticket", new_project_ticket_path(@project), :class => "btn btn-info"%>
  <% end %>

<% else %>
  <h5>No tickets has been created yet.</h5>
  <br />
  <% if @project.user_id == current_user.id %>
      <%= link_to "Make a new Ticket", new_project_ticket_path(@project), :class => "btn btn-info"%>
  <% end %>
<% end %>

<br /><br />

<%= link_to 'Back to project', project_path(@project), :class => "btn" %>