<%- model_class = Ticket -%>

<%= render 'links_status_tickets' %>
<% if @ticket.blank? %>
<div class="page-header">
  <h4>Tickets under <%= @project.name %></h4>
</div>
<table class="table table-striped">
  <h5>Open Tickets</h5>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:assigned_to) %></th>
      <th><%= model_class.human_attribute_name(:document) %></th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <% @open_tickets.each do |ticket| %>
      <%= render 'tickets', :ticket => ticket %>
    <% end %>
  </tbody>
</table>
  
  <% if @project.user_id == current_user.id %>
      <%= link_to "New Ticket", new_user_project_ticket_path(@user, @project), :class => "btn btn-info"%>
  <% end %>
<% else %>
  <h5>No tickets has been created yet.</h5>
  <br />
  <% if @project.user_id == current_user.id %>
      <%= link_to "Make a new Ticket", new_user_project_ticket_path(@user, @project), :class => "btn btn-info"%>
  <% end %>
<% end %>

<%= link_to 'Back to project', user_project_path(@user, @project), :class => "btn" %>