<%- model_class = Ticket -%>

<%= render 'search_form' %>

<%= render 'links_status_tickets'%>

<% if @hold_ticket.blank? %>

  <table class="table table-striped">
    <h5>Hold Tickets</h5>
    <thead>
      <%= render 'thead_for_tickets' %>
    </thead>
    <tbody>
      <% @hold_tickets.each do |ticket| %>
        <%= render 'tickets', :ticket => ticket %>
      <% end %>
    </tbody>
  </table>
  <div class="pagination pagination-centered pagination-small">
    <%= will_paginate @hold_tickets %>
  </div>
  <br />
<% else %>
  <h5>No tickets has been created yet.</h5>
  <br />
<% end %>

<br /><br />
