<%- model_class = Project -%>
<div class="page-header">
  <h1><%= @project.title %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @project.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @project.description %></dd>
  <dt><strong>Project Members</strong></dt>
  <dd><%= render 'project_members', :project_members => @project.members %></dd>
</dl>

<div class="form-actions">
<% if @project.user_id == current_user.id %>
  <% if !@allowed_users.blank? %>
    <%= form_for ([@user, @project]), :url => add_member_project_project_path do |f| %>
      <div class="field">
        <% @allowed_users.each do |user| %>
          <%= check_box_tag "project[user_ids][]", user.id, @project.members.include?(user) %>
          <%= user.name %><br />
        <% end %>
      </div>
      <br /> <br />
      <div class="actions">
        <%= f.submit 'Add members' %>
      </div>
    <% end %>
  <% else %>
    <h6>No member is Invited by you</h6>
  <% end %>
  <%= link_to "Invite New Member", new_user_invitation_path, :class => "btn btn-info" %>
<% end %>

</div>

