<%- model_class = Project -%>
<div class="page-header">
  <h1><%= @project.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @project.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @project.description %></dd>
  <dt><strong>Project Members</strong></dt>
  <dd><%= render 'project_members', :project_members => @project.members %></dd>
</dl>

<div class="form-actions">
<% if @project.user_id == current_user.id %>
  <%= form_for (@project), :url => add_member_project_user_project_path do |f| %>
    <div class="field">
      
      <% @allowed_users.each do |user| %>
        <%= check_box_tag "project[user_ids][]", user.id, @project.members.include?(user) %>
        <%= user.email %>

        <br />
      <% end %>
      <%#= f.collection_select :user_role, User.user_role_array, :first, :last %>
    </div>
    <div class="actions">
      <%= f.submit 'Add members' %>
    </div>
  <% end %>
  <%= link_to "Invite New Member", new_user_invitation_path, :class => "btn btn-info" %>
<% end %>

</div>

