<%- model_class = Project -%>

    <!-- Hosted projects -->
    <% if !@projects.blank? %>
        <h5>Hosted Projects</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><%= model_class.human_attribute_name(:title) %></th>
                    <th><%= model_class.human_attribute_name(:description) %></th>
                </tr>
            </thead>
            <tbody>
                <% @projects.each do |project| %>
                    <%= render 'projects', :project => project %>
                <% end %>
            </tbody>
        </table>
        <div class="pagination pagination-centered pagination-small">
            <%= will_paginate @projects %>
        </div>
        <%= link_to 'New Project', new_project_path, :class => 'btn btn-info' %>
    <% else %>
        <h5>No Projects has been hosted yet.</h5>
        <br />
        <%= link_to 'New Project', new_project_path, :class => 'btn btn-info' %>
    <% end %>
   
    <!-- Assigned projects -->
    <br /><br />
    <% if !@assigned_projects.blank? %>
        <h5>All Projects in which you are a member.</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><%= model_class.human_attribute_name(:title) %></th>
                    <th><%= model_class.human_attribute_name(:description) %></th>
                </tr>
            </thead>
            <tbody>
                <% @assigned_projects.each do |project| %>
                    <%= render 'projects', :project => project %>
                <% end %>
            </tbody>
        </table>
        <div class="pagination pagination-centered pagination-small">
            <%= will_paginate @assigned_projects %>
        </div>
    <% else %>
        <h5>You are not member on any project.</h5>
    <% end %>
    <br />
    <%= link_to 'Back to your profile', current_user, :class => "btn" %>
    <br />
    <br />
 \




