<h3>All Projects owned by you.</h3>

<% if !@projects.blank? %>
  <table border = 1>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <% @projects.each do |project| %>
      <%= render 'projects', :project => project %>
    <% end %>
  </table>
  <br />
  <%= link_to 'Create a New Project', new_user_project_path(@user) %>
<% else %>
  No Projects has been created yet.
<br />
  <%= link_to 'Make a New Project', new_user_project_path(@user) %>
<% end %>
<br />
<%= link_to 'Back to your profile', root_path %>
<br />
<h3>All Projects in which you are a member.</h3>

<% if !@assigned_projects.blank? %>
  <table border = 1>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <% @assigned_projects.each do |project| %>
      <%= render 'projects', :project => project %>
    <% end %>
  </table>
  <br />
<% else %>
  You are not member on any project.
<% end %>