<%- model_class = Project -%>

<% content_for :sidebar do %>
    <h6 class="text-center">
    You have <%= total_open_tickets(@project,current_user) %> 
    <%= link_to 'Open Tickets', project_tickets_path(@project) %>
    </h6>
    
    <%= link_to 'View Tickets', project_tickets_path(@project), :class => 'btn btn-block' %>
    
<% end %>

<div class="page-header">
    <h3>
        <%= @project.title %>
        <%= link_to "New Ticket", new_project_ticket_path(@project), :class => 'btn btn-primary pull-right' %>
    </h3>
</div>
<% if @project.user_id == current_user.id %>
    <%= render 'project_options_links_if_owner', :project => @project %>
<% end %>
<dl class="dl-horizontal">
    <dt><strong>Project Members</strong></dt>
    <dd><%= render 'project_members', :project_members => @project_members %></dd>
</dl>

<br />

<% if !@project_open_tickets.blank? %>
    <strong>Open tickets for you.</strong>
    <table class="table table-striped">
        <thead>
            <%= render 'tickets/thead_for_tickets' %>
        </thead>
        <tbody>
            <% @project_open_tickets.each do |ticket| %>
                <%= render 'tickets/tickets', ticket: ticket %>
            <% end %>
        </tbody>
    </table>
    <div class="pagination pagination-centered pagination-small">
        <%= will_paginate @project_open_tickets %>
    </div>
<% else %>
    <strong>No Tickets Open Tickets under this project for you.</strong>
<% end %>

