<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>


<%= link_to 'Edit', edit_user_project_path(@user, @project) %> |
<%= link_to 'Back to Projects', user_projects_path(@user) %>
