<%- model_class = Project -%>
<div class="page-header">
  <h1><%= @project.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @project.description %></dd>
  <dt><strong>Project Members</strong></dt>
  <dd><%= render 'project_members', :project_members => @project_members %></dd>
</dl>

<div class="form-actions">
  <% if @project.user_id == current_user.id %>
    <%= link_to 'Edit', edit_user_project_path(@user, @project), 
        :class => 'btn' %>
    <%= link_to 'Destroy', user_project_path(@user, @project), 
        :class => 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
    
    <%= link_to 'Back to Projects', user_projects_path(@user), :class => 'btn' %>
    
    <%= link_to 'Create a Ticket', new_user_project_ticket_path(@user, @project), 
        :class => 'btn btn-info' %>
    
    <%= link_to 'View Tickets', user_project_tickets_path(@user, @project), :class => 'btn' %>
    
    <%= link_to 'Add / Remove Members', project_members_user_project_path(@user, @project),:class => 'btn btn-info' %>

    <%= link_to 'Assign Roles to Members', new_user_project_role_path(@user, @project),
        :class => 'btn btn-info' %>
  <% else %>
    <%= link_to 'View Tickets', user_project_tickets_path(@user, @project), :class => 'btn' %>
  <% end %>
</div>
