<%= form_for [@user, @project, @role] do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <table>
      <% @project_members.each do |member| %>
        <tr>
          <td><%= member.email %></td>
          <td>
            <%= f.collection_select :user_role, User.user_role_array, :first, :last %>
            <%= f.hidden_field :user_id, :value => member.id %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
