<%= form_for [@user, @project, @role] do |f| %>
  <% if @role.errors.any? %>
    <div class="alert alert-error">
      <div id="error_explanation">
        <h5><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h5>

        <ul>
        <% @role.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="field">
    <table>
      <% @project_members.each do |member| %>
        <tr>
          <td><%= member.name %></td>
          <td>
            <%= f.collection_select :user_role, User.user_role_array, :first, :last %>
            <%= f.hidden_field :user_id, :value => member.id %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
