<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for @new_user, :as => @new_user, :url => invitation_path(@new_user), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

<% @new_user.class.invite_key_fields.each do |field| -%>
  	<p><%= f.label field %><br />
  	<!-- <div id="divContent"> -->
		<%= f.text_field field %></p>
	<!-- </div> -->
<% end -%>
  <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
<% end %><br />
