<!DOCTYPE html>
<html>
	<head>
  		<title>Bug Tracker</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
		<%= yield :head %>
	</head>

	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<% unless flash[:notice].blank? %>
					<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<%= flash[:notice] %>
  					</div>
	      		<% end %>
	      		<% unless flash[:error].blank? %>
					<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<%= flash[:error] %>
  					</div>
	      		<% end %>
	      		<% unless flash[:alert].blank? %>
					<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<%= flash[:alert] %>
  					</div>
	      		<% end %>
		<div class="container-fluid">
  			<div class="row-fluid">
  				<div class="span2">
      				<% if user_signed_in? %>
						<div class="page-header">
							<%= image_tag(@user.photo.url(:medium)) %>
	    					<h3><%= link_to @user.name, @user %></h3>
	 					</div>
	 				<% end %>
      				<%= yield :sidebar %>
    			</div>
    			<div class="span10">
      				<%= yield %>	
      				<!--Body content-->
    			</div>
    			
    			
  			</div>
		</div>

			
			
		</div>
	</body>
</html>
